<!DOCTYPE html>
<html lang="<%= lang %>">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= translations.title %></title>
    <meta name="description" content="<%= translations.description %>">
    <meta name="keywords" content="<%= translations.keywords %>">
    <script src="../../public/js/lang-switch.js"></script>

    
</head>
<body>
