
.language-switch {
    
    
    
    
    z-index: 800;
    
    align-self: center;
    
    
    
    border-radius: 20%;
    // box-shadow: 0 3px 1rem rgba($color-black, .2);
    


    &-btn {
      
      display: flex;
      justify-content: center;
      background: green;
      background-color: $color-white;
      width: 4.5rem;
      height: 4.5rem;  

      color: white;
      border: none;
      border-radius: 50%;

       
      z-index: 9;
      border-radius:20%;
      pointer-events: all;
      
      cursor: pointer;
      transition: all 0.35s ease-in;
      box-shadow: 0 0 0 0 rgba(green, .5);  
      
      
      
      &:hover {
        animation: none;
      }
    
      
      &:after {
        content:'';
        // width: 100%;

        display: none;
        height: 4rem;
        width: 4rem;
        align-self: center;
        

        background-color: grey;
        // -webkit-mask-image: url(./../img/phone.svg);
        // -webkit-mask-size: cover;
        // mask-image: url(./../img/phone.svg);
        // mask-size: cover;

        
        

        // position: absolute;
        // text-align: center;
        // line-height: 40px;
        // font-family: 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
        // color: #575757;
        // font-weight: 100;
        // font-size: 1.8em;
      }
    }
    .ls_postToggle {
      display: none;
    }
    
    .language-switch-list {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      
        

      &__flag-icon {
        height: 4rem;
        width: auto;
        
      }

    }

    .language-switch-list__item {
      position: absolute;
      display: flex;
      justify-content: start;
      align-items: center;
      

      pointer-events: all;

      overflow: hidden;
      text-indent: 2rem;
      text-align: center;
      height: 5rem;
      width: 16rem; 
      
      background: $color-white;
      border-radius: 2% / 10%;
      opacity: 0;
      border: 1px solid white;
      transition: transform 0.3s cubic-bezier(0.48, 0.13, 0.42, 1.45), opacity 0.2s ease-in;
      box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.125);

      
      &:nth-child(2) {
        transition-delay: 0.025s;
      }
      &:nth-child(3) {
        transition-delay: 0.05s;
      }
      &:nth-child(4) {
        transition-delay: 0.075s;
      }
      &:nth-child(5) {
        transition-delay: 0.1s;
      }
  
      a {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
      }
      
      &-label {
        color: $color-black;
        font-size: 1.1em;
      }
      
    }


  
    .german::before {
      content: "";
      height: 5rem;
      width: 2rem;
      
    }
   
    .english::before {
      content: '';
      height: 5rem;
      width: 2rem;
         
  
    }


  
  }
  
  .ls_postToggle:checked {
    ~ .sticky-contact-Btn {
      background: rgba(green, 0.9);
      transform: scale(0.85);
      
      &:after {
        content:'';
        height: 2rem;
        width: 2rem;
        align-self: center;
        

        background-color: white;
        -webkit-mask-image: url(./../img/cross.svg);
        -webkit-mask-size: cover;
        mask-image: url(./../img/cross.svg);
        mask-size: cover;
        
      }
    }
    ~ .language-switch-list {
      .language-switch-list__item {
        opacity: 1;
      }
  
      .german {
        transform: translate(-75%, 60%);
    
        &:hover {
          box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.25);
        } 
      }
      .english {
        transform: translate(-75%, 180%);
    
        &:hover {
          box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.25);
        } 
      }
      
      
    }
  }